In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib.cm as cm
import scipy as sp
pd.set_option('display.width',500)
pd.set_option('display.max_columns',200)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

In [5]:
c0=sns.color_palette()[0]
c1=sns.color_palette()[1]
c2=sns.color_palette()[2]

In [6]:
from matplotlib.colors import ListedColormap
cm_bright =ListedColormap(['#FF0000', '#0000FF'])

In [8]:
CreditClient = pd.read_excel("default_ credit_clients.xls", header=1)
C=CreditClient
C=CreditClient.rename(columns={"default payment next month":"Y"})

In [12]:
C.isnull().values.any()

False

In [20]:
C_X =C.drop(['ID','Y'], axis=1)

In [21]:
C_X.head(3)

   LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2  PAY_3  PAY_4  PAY_5  PAY_6  BILL_AMT1  BILL_AMT2  BILL_AMT3  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6
0      20000    2          2         1   24      2      2     -1     -1     -2     -2       3913       3102        689          0          0          0         0       689         0         0         0         0
1     120000    2          2         2   26     -1      2      0      0      0      2       2682       1725       2682       3272       3455       3261         0      1000      1000      1000         0      2000
2      90000    2          2         2   34      0      0      0      0      0      0      29239      14027      13559      14331      14948      15549      1518      1500      1000      1000      1000      5000

In [23]:
from sklearn.cross_validation import KFold, train_test_split
from sklearn.metrics import accuracy_score
def cv_score(clf,x,y,score=accuracy_score):
        result=0
        nfold=5
        for train,test in KFold(y.size,nfold):
            clf.fit(x[train],y[train])
            result += score(clf.predict(x[test]),y[test])
        return result/nfold

In [24]:
Xtrain,Xtest,Ytrain,Ytest=train_test_split(C_X.values,C['Y'].values, random_state=0)

In [64]:
from sklearn.neighbors import KNeighborsClassifier
clf=KNeighborsClassifier()
score =cv_score(clf,Xtrain,Ytrain)
score

0.7486666666666667

## We saw that model is not giving good accuracy. Hence will do cross-validation and will find best neighbors

In [62]:
Cs= np.random.randint(1,high=90, size=30, dtype='l')
max_score=0
for c in Cs:
    clf1 = KNeighborsClassifier(n_neighbors=c)
    score_n= cv_score(clf1,Xtrain,Ytrain)
    
    if score_n > max_score:
        max_score =score_n
        best_C =c
print (max_score, best_C)

0.779466666667 48

In [68]:
clf2= KNeighborsClassifier(n_neighbors=best_C)
clf2.fit(Xtrain,Ytrain)
Ypred =clf2.predict(Xtest)
print (accuracy_score(Ytest,Ypred))

0.781733333333