In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%pwd
%matplotlib inline
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [3]:
CreditClient = pd.read_excel("default_ credit_clients.xls", header=1)
C=CreditClient

In [4]:
#Credit=CreditClient.replace({"SEX":{1:"Male",2:"Female"},"default payment next month":{1:"Yes",0:"No"},"EDUCATION":{1:"Graduate",2:"University",3:"Others"}
                            # ,"MARRIAGE":{1:"Married",2:"Single",3:"Others"}})
C=CreditClient.rename(columns={"default payment next month":"Y"})

## Applying Support Vector Machine Techniques Here

In [5]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import scipy as sp
pd.set_option('display.width',500)
pd.set_option('display.max_columns',200)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

In [6]:
c0=sns.color_palette()[0]
c1=sns.color_palette()[1]
c2=sns.color_palette()[2]

In [7]:
from matplotlib.colors import ListedColormap
cm_bright = ListedColormap(['#FF0000', '#0000FF'])

In [8]:
C_X =C.drop(['Y','ID'], axis=1)

In [9]:
C_X.head(4)

   LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2  PAY_3  PAY_4  PAY_5  PAY_6  BILL_AMT1  BILL_AMT2  BILL_AMT3  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6
0      20000    2          2         1   24      2      2     -1     -1     -2     -2       3913       3102        689          0          0          0         0       689         0         0         0         0
1     120000    2          2         2   26     -1      2      0      0      0      2       2682       1725       2682       3272       3455       3261         0      1000      1000      1000         0      2000
2      90000    2          2         2   34      0      0      0      0      0      0      29239      14027      13559      14331      14948      15549      1518      1500      1000      1000      1000      5000
3      50000    2          2         1   37      0      0      0      0      0      0      46990      48233      49291      28314      28959      29547      2000      2019      1200      1100      1069      1000

In [10]:
C_XX =C_X.drop(['BILL_AMT5','BILL_AMT6','PAY_AMT4','PAY_AMT3','PAY_AMT2','PAY_AMT5','PAY_AMT6','LIMIT_BAL'
               ], axis=1)

In [11]:
C_XX.head(4)

   SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2  PAY_3  PAY_4  PAY_5  PAY_6  BILL_AMT1  BILL_AMT2  BILL_AMT3  BILL_AMT4  PAY_AMT1
0    2          2         1   24      2      2     -1     -1     -2     -2       3913       3102        689          0         0
1    2          2         2   26     -1      2      0      0      0      2       2682       1725       2682       3272         0
2    2          2         2   34      0      0      0      0      0      0      29239      14027      13559      14331      1518
3    2          2         1   37      0      0      0      0      0      0      46990      48233      49291      28314      2000

## Try to normalize the data as SVM works good with normalize data

In [12]:
from sklearn.cross_validation import train_test_split
Xtrain,Xtest,Ytrain,Ytest =train_test_split(C_XX.values,C['Y'].values,random_state=0)

C:\Anaconda3.4\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [14]:
from sklearn import preprocessing
from sklearn import metrics
Stan_X=preprocessing.normalize(Xtrain)

C:\Anaconda3.4\lib\site-packages\sklearn\utils\validation.py:429: DataConversionWarning: Data with input dtype int64 was converted to float64 by the normalize function.
  warnings.warn(msg, _DataConversionWarning)

## We tried to use gridsearchV method, but fit function not running

## Applying cross-validation technique

Here we are not sure how to choose C, gamma values , so used cross_val_score, also don't know how to use scores

Well, model accuracy is not that good;however we will try to use best parameter to make model more generalized for unseen data. We will use regularised parameter c.

## Will try to choose best C and gamma parameter for get maximum accuracy

In [15]:
from sklearn.metrics import classification_report
from sklearn  import svm
from sklearn.grid_search import GridSearchCV 
parameters = [{'kernel': ['rbf'], 'gamma': [1e-3, 1e-4],
                     'C': [1, 10, 100, 1000]},
                    {'kernel': ['linear'], 'C': [1, 10, 100, 1000]}]
clf = svm.SVC(C=1)
fitmodel = GridSearchCV(clf, parameters,cv=5, scoring="accuracy")

C:\Anaconda3.4\lib\site-packages\sklearn\grid_search.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

## Drawback of model as it took 2 hours to run

In [16]:
fitmodel.fit(Stan_X,Ytrain)

GridSearchCV(cv=5, error_score='raise',
       estimator=SVC(C=1, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False),
       fit_params={}, iid=True, n_jobs=1,
       param_grid=[{'gamma': [0.001, 0.0001], 'C': [1, 10, 100, 1000], 'kernel': ['rbf']}, {'C': [1, 10, 100, 1000], 'kernel': ['linear']}],
       pre_dispatch='2*n_jobs', refit=True, scoring='accuracy', verbose=0)

In [17]:
fitmodel.best_params_

{'C': 1, 'gamma': 0.001, 'kernel': 'rbf'}

In [18]:
from sklearn.metrics import classification_report
from sklearn  import svm
clf1 =svm.SVC(C=1, gamma=0.001, kernel='rbf', cache_size=7000)

In [ ]:
## http://datascience.stackexchange.com/questions/989/svm-using-scikit-learn-runs-endlessly-and-never-completes-execution
This post is helpful to bring down the time of computation
http://stackoverflow.com/questions/31681373/making-svm-run-faster-in-python/32025662#32025662

In [19]:
clf1.fit(Stan_X,Ytrain)

SVC(C=1, cache_size=7000, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma=0.001, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

## Since normalization of Test dataset should be done based on training dataset mean and standard deviation

In [20]:
Xtrain1=(Xtest-Xtrain.mean(0))/Xtrain.std(0)
Test_X=Xtrain1

In [21]:
Ypred =clf1.predict(Test_X)
print (classification_report(Ytest,Ypred))

             precision    recall  f1-score   support

          0       0.78      1.00      0.88      5868
          1       0.00      0.00      0.00      1632

avg / total       0.61      0.78      0.69      7500

C:\Anaconda3.4\lib\site-packages\sklearn\metrics\classification.py:1113: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [22]:
from sklearn.metrics import accuracy_score
print (accuracy_score(Ytest, Ypred))

0.7824