# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [2]:
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [3]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [4]:
root = document_tree.getroot()
child = root.find("country/population")
for member in child.getchildren():
    print (member.attrib)

In [5]:
for child in document_tree.getroot().findall('country'):
       print (child.find('gdp_ind').text)

12
16
27.5
31.8
11.3
22.6
79

In [6]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print ('* ' + element.find('name').text + ':')
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print (capitals_string[:-2])

* Albania:
Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece:
Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia:
Skopje, Kumanovo
* Serbia:
Beograd, Novi Sad, Niš
* Montenegro:
Podgorica
* Kosovo:
Prishtine
* Andorra:
Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [7]:
document = ET.parse( './data/mondial_database.xml' )

In [12]:
import pandas as pd
import numpy as np
d=pd.DataFrame(columns=['name','infant'])
root =document.getroot()
Name =[]
Infant =[]
for count in root.iterfind('country'):
    c=count.find('name').text
    Name.append(c)
for infant in root.iterfind('country'):
    i = infant.find('infant_mortality')
    if i is not None:
        i =i.text
    else:
        i =np.nan
    Infant.append(i)

d=pd.DataFrame({'name':Name,'infant':Infant})

d.sort_values('infant').head(10)
d['infant']=d['infant'].apply(pd.to_numeric)
d.sort_values(by='infant', ascending=False).head(10)

     infant                      name
194  145.82            Western Sahara
54   117.23               Afghanistan
189  104.34                      Mali
226  100.14                   Somalia
213   92.86  Central African Republic
230   90.92             Guinea-Bissau
214   90.30                      Chad
192   86.27                     Niger
195   79.99                    Angola
201   76.80              Burkina Faso

In [17]:
import numpy as np
import pandas as pd
City =[]
Population =[]
root =document.getroot()
for c in root.iterfind('country'):
    for count in c.getiterator('city'):
        x=count.find('name').text
        City.append(x)
        y=count.find('population[last()]')
        if y is not None:
            y=y.text
        else:
            y=np.nan
        Population.append(y)
        

df=pd.DataFrame({'city':City,'population':Population})
df=df.dropna()
df['population']=df['population'].apply(pd.to_numeric)
df.sort_values(by='population', ascending=False).head(10)

           city  population
1341   Shanghai    22315474
771    Istanbul    13710512
1527     Mumbai    12442373
479      Moskva    11979529
1340    Beijing    11716620
2810  São Paulo    11152344
1342    Tianjin    11090314
1064  Guangzhou    11071424
1582      Delhi    11034555
1067   Shenzhen    10358381

In [19]:
import pandas as pd
import numpy as np
ethnic=[]
Population=[]
root=document.getroot()
for country in root.iterfind('country'):
        e =country.find('ethnicgroup[1]')
        p= country.find('population[last()]').text
        if e is not None:
            e=e.text
        else:
            e=np.nan
        ethnic.append(e)
        Population.append(p)
De=pd.DataFrame({'Ethnic Group':ethnic,'Pop_ethnic':Population})
De=De.dropna()
De['Pop_ethnic']=De['Pop_ethnic'].apply(pd.to_numeric)
De.sort_values(by='Pop_ethnic', ascending=False).head(10)

    Ethnic Group  Pop_ethnic
55   Han Chinese  1360720000
67     Dravidian  1210854977
120     European   318857056
88      Javanese   252124458
176     European   202768562
202      African   164294516
65       Bengali   149772364
23       Russian   143666931
98      Japanese   127298000
116      Mestizo   112336538